
.button {
    border-radius: 0px 10px 10px 0px;
    padding: 6px;
    border: none;
    background-color: #5c5ae8;
    font-family: 'Gemunu Libre', sans-serif;
  }
.button:hover{
    background-color: rgb(57, 0, 75);
    color: white
  }
  
  .input {
    border-radius: 10px 0px 0px 10px;
    border: none;
    padding: 6px;
    font-family: 'Gemunu Libre', sans-serif;
    font-weight: bold;
  }