/* About.module.css */
.main_cont_about {
    text-align: center;
    padding: 20px;
  }
  
  .button_home {
    background-color: #c808dd;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button_home:hover {
    background-color: #b00e8d;
  }

  .img_profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:#b00e8d;
    border-width: 50px;
    border-style: outset;
  }
  
  .cont_about {
    text-align: center;
    padding: 40px;
  }
  
  .name_about {
    font-size: 36px;
    color: #333;
  }
  
  .subtitle_name {
    font-size: 24px;
    color: #555;
    margin-top: 10px;
  }
  
  .img_cont {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .github_a,
  .linkedin_a {
    margin: 0 20px;
    text-decoration: none;
  }
  
  .img_github,
  .img_linkedin {
    width: 40px;
    height: 40px;
    transition: transform 0.2s;
  }
  
  .img_github:hover,
  .img_linkedin:hover {
    transform: scale(1.2);
  }
  